/.idea/shelf/_2023_1_7_21_32____.xml
/.idea/codestream.xml
/.idea/deployment.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/uptech-star.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea
*.xml